*.changes
*.chg
*.errors
*.image
*.img
*.img7
*.sml
.*_st.done
.gradle
/github-cache
/package-cache
/play-cache
/play-stash
Pharo*.sources
PharoDebug.log
SqueakDebug.log
credentials.st
github-*.zip
gradle-local.properties
image.*/
pharo-local/
